<div id="careers">
	<div class="history-title title">Work Experience</div>

	{{#each careers}}
	<div class="history-event">
		<div class="history-event-title">
			<span class="history-event-name title">{{this.name}}</span>
			<span class="history-event-duration">
				<span class="history-event-duration-start">{{this.duration.start}}</span>
				<span class="history-event-duration-divider">-</span>
				<span class="history-event-duration-end">{{this.duration.end}}</span>
			</span>
		</div>	

		<div class="history-event-subtitle">
			{{#each this.positions}}
				{{this}}{{#unless @last}},{{/unless}}
			{{/each}}
		</div>

		<div class="history-event-description">
			{{#each this.responsibilities}}
				{{this}}{{#unless @last}}.{{/unless}}
			{{/each}}
		</div>
	</div>
	{{/each}}
</div>

