<div id="careers">
	<h1>Work Experience</h1>

	{{#each careers}}
	<div class="history-event">
		<h3>{{this.name}}</h3>

		<div class="history-event-duration">
			{{this.duration.start}} - {{this.duration.end}}
		</div>

		<div class="history-event-subtitle">
			{{#each this.positions}}
				{{this}}{{#unless @last}},{{/unless}}
			{{/each}}
		</div>

		<p class="history-event-description">
			{{#each this.responsibilities}}
				{{this}} {{#unless @last}}<span class="dot"></span>{{/unless}}
			{{/each}}
		</p>
	</div>
	{{/each}}
</div>

