<div id="universities">
	<div class="history-title title">Education</div>

	{{#each universities}}
	<div class="history-event">
		<div class="history-event-title title">
			<span class="history-event-title-name">{{this.name}}</span>
			<span class="history-event-title-duration">
				<span class="history-event-title-duration-start">{{this.duration.start}}</span>
				<span class="history-event-title-duration-divider">-</span>
				<span class="history-event-title-duration-end">{{this.duration.end}}</span>
			</span>
		</div>	

		<div class="history-event-subtitle">
			{{this.degree}} - {{this.gpa}} GPA
		</div>

		<div class="history-event-description">
			{{#each this.classes}}
				{{this}}{{#unless @last}},{{/unless}}
			{{/each}}
		</div>
	</div>
	{{/each}}
</div>

