<div id="universities">
	<h1>Education</h1>

	{{#each universities}}
	<div class="history-event">
		<h3>{{this.name}}</h3>

		<div class="history-event-duration">
			{{this.duration.start}} - {{this.duration.end}}
		</div>

		<div class="history-event-subtitle">
			{{this.degree}} - {{this.gpa}} GPA
		</div>

		<p class="history-event-description">
			{{#each this.classes}}
				{{this}}{{#unless @last}},{{/unless}}
			{{/each}}
		</p>
	</div>
	{{/each}}
</div>

